body {
  background-color: #909090;
  margin: 0%;
  padding: 0%;
  padding-top: 100px;
}

.logoBar {
  background-image: linear-gradient(to right, white,white, black);
  border-bottom: solid 5px #909090;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;  
}

.menu {
  color: white;
  float: right;
  text-align: center;
  margin-right: 50px;
  padding-top: 10px;
}

.logo {
  float: left;
}

.footer {
  position: relative;
  bottom: 0;
  margin-bottom: -10px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
  background-color: #001a33;
  padding-top: 50px;
  color: #f6f6f6;
}

.copyright {
  border-top: 1px solid rgba(0,0,0,.5);
  
}

table {
  width: 100%;
  
}

.header {
  padding:30px;
  font-size: 40px;
  text-align: center;
  background: #0085ff;
  color: #f7ba0f;
}

.leftcolumn {
  float: left;
  width: 70%;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

.card {
  background-color: #004481;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width:100%;
    padding: 0;
  }
}

.button {
  background-color: #757575;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.button2:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.2);
  background-color: #cc101f;
  color: #ffd500;
  border: solid 1px #ffd500;
  
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
